h1 {
  text-align: center;
}

.input {
  margin: 20px 0px;
}

.form {
  margin-left: 20px;
}

.btn.btn-info {
  margin-right: 20px;
  padding: 10px;
  width: 100px;
}

input.form-control {
  width: 500px;
}
