h1 {
  text-align: center;
  font-size: 50px !important;
  color: white;
}

.input {
  margin: 20px 0px;
}

.form {
  text-align: center;
  margin-top: 5%;
}

.btn.btn-info {
  margin-right: 20px;
  padding: 10px;
  width: 100px;
  color:white
}

.btn.btn-info:hover {
  color:black
}

input.form-control {
  width: 50%;
  margin: auto;
  font-size:larger;
}

.form-label {
  font-size:xx-large;
  color: white
}

.entire-content {
  background-image: url("https://media.istockphoto.com/id/1094922834/vector/binary-background.jpg?s=612x612&w=0&k=20&c=OEGamSEXekm5Q0dRGa1U4DtzgIS_Zq1cCjhjM3D0EWI=");
  background-size: cover;
  min-width:100%;
  position: absolute; 
  min-height: 100%;
}

.modal-content {
  margin-top: 15%;
}